*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-image: url(../img11/background1.png);
    width: 100%;
    float: left;
    padding: 38px 51px;
}
/* main header */

.main-header{
    width: 100%;
    float: left;
    padding: 8px 20px;
}
.logo-part{
    width: 50%;
    float: left;
}
.logo-part img{
    
height: 52px;
}
.manu-part{
    width: 50%;
    float: left;
    text-align: end;
    position: relative;
    font-size: 42px;
    bottom: 11px;
}
.manu-part ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;

}
.manu-part ul li a{
    text-decoration: none;
    color: rgb(90, 19, 255);
    font-size: 20px;
    font-weight: 700;

}
/* main part  */
#about{
    width: 100%;
    float: left;
    margin: auto;
    

}
.container{
    width: 100%;
    float: left;
    background-image: url(../img11/background1.png);

}
.main-part{
    width: 50%;
    float: left;

}
.main-part h1{
    color: coral;
    position: relative;
    left: 43px;
    font-size: 66px;
}
.main-part h2{

font-size: 66px;

color: white;

position: relative;

left: 44px;
}
.main-part p{
    color: white;
    text-align: left;
    position: relative;
    top: 37px;
    left: 47px;
}
.main-part img{
    width: 94%;
    float: left;
}


input[type=text], [type=name]{
    position: relative;
    text-align: left;
    width: 279px;
    height: 47px;
    margin-left: 100px;
    border-radius: 19px;
    border: 2px solid black;
    font-size: 20px;
    background-color: white;
    top: 60px;
    left: -45px;
}
input[type=email]{
    position: relative;
    text-align: left;
    width: 279px;
    height: 47px;
    margin-left: 100px;
    border-radius: 19px;
    border: 2px solid black;
    font-size: 20px;
    background-color: white;
    top: 69px;
    left: -46px;
}
input[type=submit]{
    position: relative;
    text-align: center;
    margin-left: 100px;
    border-radius: 50px;
    border: 0px solid beige;
    font-size: 20px;
    background-color: #dbc70f;
    top: 69px;
    left: -44px;
    width: 81px;
    height: 34px;
    cursor: pointer;
}

/* The part of Finish */
#finish{
    width: 100%;
    float: left;
    padding: 1px 0px;
    color: white;
    background-color: beige;
}
.finish-box{
    display: inline-block;
}
.finish-box p{
    display: inline-block;
    font-size: 15px;
    position: relative;
    top: 10px;
    left: 80px;
}
.icon{
    width: 100%;
    float: left;
    text-align: right;
}
.icon ul{
    display: -webkit-inline-box;
    list-style: none;
}
.icon ul li{

margin: 2px 30px;
}
.icon ul li a{

text-decoration: none;

color: #ede5e5;

position: relative;

right: 80px;

bottom: 5px;

font-size: larger;
}